body{
  margin:0;
}
a {
  color:black;
  text-decoration:none;
}
h1 {
  font-size:60px;
  text-align:center;
  border-bottom:2px solid pink;
  margin:0;
  padding:10px;
}
#active {
  color:hotpink;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#grid ol{
  border-right:2px solid pink;
  margin:0;
  padding-left:30px;
  padding-top:10px;
}
#grid #article{
  padding:10px;
}
#grid #article h2 {
  margin:0;
  padding:10px;
}
@media(max-width:650px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}
